body {
	background-color: rgb(45, 179, 231);
}

.parkingSpace {
	background-color: lightgreen;
	height: 100px;
	width: 300px;
	margin: 20px 0px 0px 20px;
}

div.page_wrapper{
	display: flex;
	flex-direction: column;
}

#mainDiv{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img.x_close{
	float: right;
	margin: 7px 7px 0px 0px;
	width: 15px;
	cursor: pointer;
  }
