
body, html{
  height: 100%;
  margin: 0;
  padding:0;
}

body {
  color: black;
  font-family: 'Merriweather', serif;/*TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; */ /* this merriweather font has changed the font size by 2 pixels for most things.
  font-size: 14px;/*16px;*/
  background-color: white;
}

/*
div.map{
background: url("https://jdm-designers.github.io/parkour/images/bigmap.png"); 
background-repeat: no-repeat ;
height: 100%;
background-size: cover;
background-position: center;
width: 100%;
display: flex;
flex-direction: row;
}
*/
#map {
  height: 100%;
}

div.wrap{
  position: absolute;
  left: 0px;
  z-index: 7; /* the booking "choice" boxes have index of 5 and 6 */
  display: flex;
  flex-direction: row;
  height: cover;
  min-height: 100%;
  filter: alpha(opacity=0);
}


div.side_menu{
  background:rgba(175,173,173, 0.80); /* #AFADAD;*/
  /*opacity: 0.1;*/
  filter: alpha(opacity=80); /* IE8 and lower */

  padding-top: 20px;
  flex-shrink: 0; 
  /*flex-grow: 1;*/ /* grows further than the text needs it to. */
  flex-grow: 0;
  flex-basis: 180px;
  border: 3px solid black;
}
div.m_item{
  color: white;
  font-size: 20px;/*22px;*/
  padding: 10px 15px 10px 15px;
  text-align: center;
}
div.m_item:hover{
  background-color: black;
  cursor: pointer;
}
div.side_switch{
  position: absolute;
  /*left: 180px;  Now javascript sets this*/
  top: 40%;
  z-index: 8;
  width: 30px;
  height: 30px;
  color: white;
  background-color: rgba(175,173,173, 0.80);
  padding: 2px;
  font-size: 20px;/*22px;*/
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 6px;
  border-left-color: rgba(175,173,173, 1);
  border-radius: 5px;
}
div.side_switch:hover{
  color: rgb(20, 159, 214);
}

div.big_box{
  position: absolute;
  right: 60px;
  z-index: 5;
  /* background-color: #AFADAD;*/
  background:rgba(175,173,173, 0.85);
  padding: 20px;
  margin-top: 10px;
  border: 3px solid black;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.address{
  background-color: white;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 85%;
  height: 20px;
  display: flex;
  flex-direction: row;
}
#lens{
  vertical-align: middle;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#address{
  font-size: 11px;/* still looks good this way, for some reason*/
}
button.form{
margin-right: 10px;
padding: 2px 7px;
}
div.datetime{
  width:100%;
}
div.datetime > div{
  /*display: inline;*/
  display: inline-block;
  font-size: 12px; /* needed now for some reason.*/
  margin-top: 5px;
}

.rowincolumn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
div.big_box .rowincolumn{
  align-items: baseline; /* necessary seemingly only in chrome browser responsive mode */
}

div.popbox{
  display: block;
  position: absolute;
  left: 40%;
  top: 40%;
  max-width: 380px;
  background-color: rgb(45, 179, 231);
  color: white;
  z-index: 5;
  padding: 10px;
  border: 2px solid black;
  font-size: 20px/*22px*/;
  text-align: center;
}
button.choice, button.close{
  background-color: white;
  padding: 5px 10px;
  /*margin-left: 40%;*/
}
button.choice{
  width: 90px;
}
button.X{
  float: right;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 15px;
}
div.popbox > .rowincolumn{
  justify-content: space-around ;
}

div.iwindow{
  display: block;
  line-height: 1.5;
}
p.iwindow{
  font-size: 16px; /*still looks same*/
  /* line-height: 10px; consider this! */
}
button.book{
  background: linear-gradient(rgb(74, 196, 245), rgb(25, 141, 187) ); /* rgb(45, 179, 231);*/
  color: white;
  padding: 5px 10px;
}


div.profile, div.parkour{
  background-color: rgb(45, 179, 231);
  color: white;
  flex-grow: 1;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
/*
div.parkour{
  min-width: 300px; /* since it only contains text (and not rigid-width div-blocks) it can be smushed forever.
}
*/
div.profile_top, div.parkour_top{
  border-bottom: 2px solid black;
  min-height: 150px;
  padding: 5px 5px 10px 30px;
}
div.parkour_top{
  min-height: 100px;
}
h1.profile_top{
  font-family: Georgia;
  text-align: left; 
  /*text-indent: 30px; */
  font-size: 45px;
  position: relative;
  top: 20%;
  bottom: 5%;
}
div.welcome{
  display:block;
}
h1.parkour{
  font-size: 45px;
  font-family: Georgia;
}
/*div.profile_top > .rowincolumn{
  font-size: 16px;
  line-height: 1.5;
  margin-right: 30px;
}
div.profile_top > .rowincolumn > div{
  max-height: 15px;
  margin-right: 20px;
  overflow: hidden;
}*/
div.profile_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; 
  line-height: 2;
  margin-right: 30px;
}
div.profile_info > div , div.profile_info > button{
  font-size: 18px/*20px*/;
  margin-right: 10px;
}
/*button#edit_profile{
  font-size: 19px;
}
*/
div.parkour_bottom{
  padding: 10px 30px;
}
div.profile_bottom{
  padding-left: 30px;
  padding-bottom: 10px;
}
div.reservations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.bookedsection{
  color: black;
  background-color: white;
  font-size: 16px; /*18px;*/
  min-height: 50px;
  max-width: 400px;
  border: 2px solid black;
  line-height: 1.5;
  padding: 7px 10px 7px 10px; /* top and then clockwise */
  margin: 15px;
}
#x_close{
  float: right;
  margin: 0px 0px 0px 0px;
  width: 15px;
  cursor: pointer;
}
div.profile_bottom #back_profile{
  margin-top: 20px; 
}


/*=======================*/

a{
  color: white;
  text-decoration: none;
}

button{
  text-align: center;
  font-size: 18px; /* if this is 16px, the outline will look very grey. The bigger the button, the darker the gradient, it seems.*/
  border: 2px outset grey;
  border-radius: 7px;
  background: linear-gradient(rgb(251, 253, 253), rgb(191, 212, 221) ); 
  cursor: pointer;
}

h1 {
  text-align: center;
}


/*============================*/


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 12px/*14px*/;
  }
  
  div.big_box{
    position: static;
    /*margin-top: auto;*/
    margin: 0px 0px 0px 15px ;
    width: auto;  /* change this width to 100% - width_side_menu */   
  }
  .rowincolumn{
    justify-content: space-around;
    margin-bottom: 20px;
  }

  div.side_menu{
    flex-basis: 140px;
  }
  div.side_switch{
    top: auto;
    bottom: 0px;
  }

  div.m_item{
    font-size: 14px;/*18px;*/
  }

  div.popbox{
    left: 15%;
    top: 25%;
    margin: auto;
  }

  p.iwindow{
    font-size: 14px;
  }

  h1.profile_top, h1.parkour{
    font-size: 28px; /*30px;*/
  }
  div.profile_info > div, div.profile_info > button{
    font-size: 14px; /*16px;*/
  }


}
