
body, html{
  height: 100%;
  margin: 0;
  padding:0;
}

body {
  color: black;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
  font-size: 14px;
  background-color: white;
}

/*
div.map{
background: url("https://jdm-designers.github.io/parkour/images/bigmap.png"); 
background-repeat: no-repeat ;
height: 100%;
background-size: cover;
background-position: center;
width: 100%;
display: flex;
flex-direction: row;
}
*/
#map {
  height: 100%;
}

div.wrap{
  position: absolute;
  left: 0px;
  z-index: 7; /* the booking "choice" boxes have index of 5 and 6 */
  display: flex;
  flex-direction: row;
  height: 100%;
  filter: alpha(opacity=0);
}


div.side_menu{
  background:rgba(175,173,173, 0.80); /* #AFADAD;*/
  /*opacity: 0.1;*/
  filter: alpha(opacity=80); /* IE8 and lower */

  padding-top: 20px;
  flex-shrink: 0;
  flex-grow: 1; /* grows further the text needs it to. */
  flex-basis: 180px;
  border: 3px solid black;
}
div.m_item{
  color: white;
  font-size: 22px;
  padding: 10px 15px 10px 15px;
  text-align: center;
}
div.m_item:hover{
  background-color: black;
  cursor: pointer;
}
div.side_switch{
  position: absolute;
  /*left: 180px;  Now javascript sets this*/
  top: 40%;
  z-index: 8;
  width: 30px;
  height: 30px;
  color: white;
  background-color: rgba(175,173,173, 0.80);
  padding: 2px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 6px;
  border-left-color: rgba(175,173,173, 1);
  border-radius: 5px;
}
div.side_switch:hover{
  color: rgb(20, 159, 214);
}

div.big_box{
  position: absolute;
  right: 60px;
  z-index: 5;
  background-color: #AFADAD;
  padding: 10px;
  margin-top: 10px;
  border: 3px solid black;
  width: 440px;
  /*height: 80px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rowincolumn{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 20px;
}
div.address{
background-color: white;
margin: 5px;
border: 1px solid black;
border-radius: 10px;
width: 85%;
height: 20px;
display: flex;
flex-direction: row;
}
#lens{
  vertical-align: middle;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#address{
  font-size: 11px;
}
button.form{
margin-right: 10px;
padding: 2px 7px;
}
div.datetime{
width:100%;
}


div.popbox{
  display: block;
  position: absolute;
  left: 40%;
  top: 40%;
  /*height: 250px;
  width: 250px;*/
  max-width: 380px;
  background-color: rgb(45, 179, 231);
  color: white;
  z-index: 5;
  padding: 10px;
  border: 2px solid black;
  font-size: 22px;
  text-align: center;
}
button.choice, button.close{
  background-color: white;
  padding: 5px 10px;
  /*margin-left: 40%;*/
}
button.choice{
  width: 90px;
}
div.popbox > .rowincolumn{
  justify-content: space-around ;
}

div.iwindow{
  display: block;
}
p.iwindow{
  font-size: 16px;
  /* line-height: 10px; consider this! */
}
button.book{
  background: linear-gradient(rgb(74, 196, 245), rgb(25, 141, 187) ); /* rgb(45, 179, 231);*/
  color: white;
}


div.profile{
  background-color: rgb(45, 179, 231);
  color: white;
  flex-grow: 1;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding:1px;
}
div.profile > div{
  color: inherit;
  background-color: inherit;
}
div.profile_top{
  border-bottom: 2px solid black;
  height: 150px;
}
h1.profile_top{
  font-family: Georgia;
  text-align: left; 
  text-indent: 30px; 
  font-size: 45px;
  position: relative;
  top: 20%;
  bottom: 5%;
}
div.profile_bottom{
  padding-left: 30px;
}
div.reservations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.bookedsection{
  color: black;
  background-color: white;
  font-size: 18px;
  min-height: 50px;
  max-width: 400px;
  border: 2px solid black;
  line-height: 1.5;
  padding: 7px 10px 7px 10px; /* top and then clockwise */
  margin: 15px;
}
#x_close{
  float: right;
  margin: 0px 0px 0px 0px;
  width: 15px;
  cursor: pointer;
}
#back_profile{
  margin-top: 20px; 
}


a{
  color: white;
  text-decoration: none;
}

button{
  text-align: center;
  font-size: 18px;
  border: 2px outset grey;
  border-radius: 7px;
  background: linear-gradient(rgb(251, 253, 253), rgb(191, 212, 221) ); 
  cursor: pointer;
  
}

h1 {
  text-align: center;
}

h2.content{
  color: black; 
  text-align: left; 
  text-decoration: underline;
}
/*
a.menu {
  color: white;
  font-size: 22px;
  text-decoration: none;
}
a.menu:hover{
text-decoration: underline;
}
*/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  body {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  div.big_box{
    position: static;
    margin-top: auto;
    width: 100%;  /* change this width to 100% - width_side_menu */
  }
  .rowincolumn{
    justify-content: space-around;
    margin: 10px;
  }

  div.side_switch{
    top: auto;
    bottom: 0px;
  }
}
