
body, html{
height: 100%;
margin: 0;
padding:0;
}

body {
color: black;
font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
font-size: 14px;
background-color: white;
}

/*
div.map{
background: url("https://jdm-designers.github.io/parkour/images/bigmap.png"); 
background-repeat: no-repeat ;
height: 100%;
background-size: cover;
background-position: center;
width: 100%;
display: flex;
flex-direction: row;
}
div.wrap_all{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 1000px;
}
*/
#map {
  height: 100%;
}

div.side_menu{
background:rgba(175,173,173, 0.85); /* #AFADAD;*/
/*opacity: 0.1;*/
filter: alpha(opacity=85); /* IE8 and lower */
position: absolute;
left: 0;
z-index: 5;
padding: 20px;
height: 100%;
width: 150px;
border: 3px solid black;
}
div.side_menu > .vspace{
  margin-bottom: 20px;
  }

div.big_box{
position: absolute;
right: 100px;
z-index: 5;
background-color: #AFADAD;
padding: 10px;
margin-top: 100px;
border: 3px solid black;
width: 440px;
height: 80px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.rowincolumn{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
div.address{
background-color: white;
margin:5px;
border: 1px solid black;
border-radius: 10px;
width: 80%;
height: 20px;
display: flex;
flex-direction: row;
}
div.finish{
background-color: white;
margin:5px;
border: 1px solid black;
width: 30px;
height: 20px;
text-align: center;
padding: 2px;
}
div.datetime{
width:100%;
}

#lens{
  vertical-align: middle;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

a.main {
color: blue ;
}
a.mainhead {
  color: black;
}

a.main:hover, a.mainhead:hover {
text-decoration: underline ;
}
p.ind {
  text-indent: 25px;
}

h1 {
  text-align: center;
}

h2.content{
  color: black; 
  text-align: left; 
  text-decoration: underline;
}

a.menu {
  color: white;
font-size: 22px;
text-decoration: none;
}
a.menu:hover{
text-decoration: underline;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  body {
    background-color: white;
	}
}
